.App {
  color:black;
  font-family: 'Maven Pro', sans-serif;
}

.parent {
    position: absolute;
    height: 1350px;
    width: 100%;
    background: #C3BEF7;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .child {
    top: 230px;
    position: absolute;
    background-color: #C490D1;
    width: 600px;
    height: 700px;
    border-radius: 10%;
    }

      .title {
        position: absolute;
        top: 150px;

        font-size: 72px;
        
        color: #A60067;
        text-decoration: underline;  
      }

      
      .adminButton {
        position: absolute;
        top: 750px;
        left: 430px;
        z-index: 10;
      }

      .test {
        margin-left: -850px;
        z-index: 20;
      }

      .time {
        margin-left: 125px;
      }