

.results {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Irish Grover', cursive;
}

.thx {
    font-size: 30px;
    margin-top: 500px;
    margin-left: 20px;
    font-family: 'Irish Grover', cursive;
}

.tvm {
    margin-top: 50px;
    margin-left: 100px;
    font-size: 50px;
    color: #A60067;
    text-decoration: underline; 
    font-family: 'Irish Grover', cursive;
}